site:
  title: Docs Site
  start_page: project-name::index.adoc
content:
  sources:
  - url: https://github.com/TheNitesWhoSay/Antora-Test.git
    start_path: ./doc
    branches: HEAD
ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/HEAD/raw/build/ui-bundle.zip?job=bundle-stable
    snapshot: true
  supplemental_files:
  - path: ui.yml
    contents: |
      static_files:
      - .nojekyll
  - path: .nojekyll